<div class="block-header">
    <h2>{{vm.title}}</h2>

    <ul class="actions">
        <li class="dropdown" uib-dropdown>
            <a href="" uib-dropdown-toggle>
                <i class="zmdi zmdi-more-vert"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href="" ng-click="vm.refresh()">Refresh</a>
                </li>
                <li>
                    <a href="" ng-click="vm.toggleEdit()">{{vm.editLabel}}</a>
                </li>
            </ul>
        </li>
    </ul>

</div>
<div class="card">
    <div class="card-header">
        <h2>My Widgets</h2>
    </div>


    <div class="card-body card-padding">

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="fg-line">
                        <input type="text" class="form-control input-lg" ng-model="vm.filter" placeholder="Filter" />
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Manufacturer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="w in vm.widgets | filter:vm.filter">
                            <td>
                                {{w.Id}}
                            </td>
                            <td>
                                <div ng-hide="vm.editMode">{{w.Name}}</div>
                                <div ng-show="vm.editMode"><input type="text" class="form-control" ng-model="w.Name" /></div>
                            </td>
                            <td>
                                <div ng-hide="vm.editMode">{{w.Description}}</div>
                                <div ng-show="vm.editMode"><input type="text" class="form-control" ng-model="w.Description" /></div>
                            </td>
                            <td>
                                <div ng-hide="vm.editMode">{{w.Manufacturer}}</div>
                                <div ng-show="vm.editMode">
                                    <input type="text" class="form-control" ng-model="w.Manufacturer" />
                                </div>
                            </td>
                            <td>
                                <div ng-show="vm.editMode">
                                    <button class="btn btn-link" ng-click="vm.updateWidget(w)">Update</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>