<div class="block-header">
    <h2>{{vm.title}}</h2>

    <ul class="actions">
        <li class="dropdown" uib-dropdown>
            <a href="" uib-dropdown-toggle>
                <i class="zmdi zmdi-more-vert"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href="">Refresh</a>
                </li>
                <li>
                    <a href="">Manage Widgets</a>
                </li>
                <li>
                    <a href="">Widgets Settings</a>
                </li>
            </ul>
        </li>
    </ul>

</div>
<div class="card">
    <div class="card-header">
        <h2>My Widget</h2>

        <ul class="actions">
            <li class="dropdown action-show" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <div class="dropdown-menu pull-right">
                    <p class="p-20">
                        You can put anything here
                    </p>
                </div>
            </li>
        </ul>
    </div>


    <div class="card-body card-padding">

        <div>
            <input type="text" ng-model="vm.manufacturer" /> <button ng-click="vm.getbymanufacturer(vm.manufacturer)">Search</button>
        </div>
        <div>
            <input type="text" ng-model="vm.manufacturer2" /> 
        </div>

        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Manufacturer</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="w in vm.widgets | filter:vm.manufacturer2">
                    <td>{{w.Id}}</td>
                    <td>{{w.Name}}</td>
                    <td>{{w.Description}}</td>
                    <td>{{w.Manufacturer}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>