html,
body {
  height: 100%;
}
.mouse-pointer {
  cursor: pointer;
}
#content-wrapper {
  /*padding-left: 0;
    margin-left: 0;*/
  width: 100%;
  height: 100%;
  background: #151515;
}
#loading-bar .bar{
    background: @text-sidebar-color;
    height: 5px;
}
.navbar {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.small-pad {
  padding-left: 5px;
  padding-right: 20px;
}
.fullcolorbg {
  background: #151515;
}
.action-link {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.action-link:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.container {
  margin-left: 0;
  margin-right: 0;
}
.content {
  background-color: #151515;
}
@media only screen and (min-width: 561px) {
  #page-wrapper.open {
    padding-left: 250px;
  }
}
@media only screen and (max-width: 560px) {
  #page-wrapper.open {
    padding-left: 70px;
  }
}
#page-wrapper.open #sidebar-wrapper {
  left: 150px;
}
/**
 * Hamburg Menu
 * When the class of 'hamburg' is applied to the body tag of the document, 
 * the sidebar changes it's style to attempt to mimic a menu on a phone app,
 * where the content is overlaying the content, rather than push it.
 */
@media only screen and (max-width: 560px) {
  body.hamburg #page-wrapper {
    padding-left: 0;
  }
  body.hamburg #page-wrapper:not(.open) #sidebar-wrapper {
    position: absolute;
    left: -100px;
  }
  body.hamburg #page-wrapper:not(.open) ul.sidebar .sidebar-title.separator {
    display: none;
  }
  body.hamburg #page-wrapper.open #sidebar-wrapper {
    position: fixed;
  }
  body.hamburg #page-wrapper.open #sidebar-wrapper ul.sidebar li.sidebar-main {
    margin-left: 0;
  }
  body.hamburg #sidebar-wrapper ul.sidebar li.sidebar-main,
  body.hamburg .row.header .meta {
    margin-left: 70px;
  }
  body.hamburg #sidebar-wrapper ul.sidebar li.sidebar-main,
  body.hamburg #page-wrapper.open #sidebar-wrapper ul.sidebar li.sidebar-main {
    transition: margin-left 0.4s ease 0s;
  }
}
.loading {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}
/* Fonts */
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-regular-webfont.eot');
  src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-regular-webfont.woff') format('woff'), url('../fonts/montserrat-regular-webfont.ttf') format('truetype'), url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular-webfont.svg') format('svg');
  }
  select {
    font-family: Arial, Helvetica, sans-serif;
  }
}
/* Base */
html {
  overflow-y: scroll;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.row > div {
  margin-bottom: 15px;
}
.alerts-container .alert:last-child {
  margin-bottom: 0;
}
#page-wrapper {
  padding-left: 70px;
  height: 100%;
}
#sidebar-wrapper {
  margin-left: -150px;
  left: -30px;
  width: 250px;
  position: fixed;
  height: 100%;
  z-index: 999;
}
#page-wrapper,
#sidebar-wrapper {
  transition: all .4s ease 0s;
}
.green {
  background: #23ae89 !important;
}
.blue {
  background: #2361ae !important;
}
.orange {
  background: #d3a938 !important;
}
.red {
  background: #ae2323 !important;
}
.form-group .help-block.form-group-inline-message {
  padding-top: 5px;
}
div.input-mask {
  padding-top: 7px;
}
.dark-primary-color {
  background: #303F9F;
}
.default-primary-color {
  background: #3F51B5;
}
.light-primary-color {
  background: #C5CAE9;
}
.text-primary-color {
  color: #FFFFFF;
}
.accent-color {
  background: #FF5252;
}
.primary-text-color {
  color: #212121;
}
.secondary-text-color {
  color: #727272;
}
.divider-color {
  border-color: #B6B6B6;
}
/* #592727 RED */
/* #2f5927 GREEN */
/* @bg-color BLUE (default)*/
/* Sidebar background color */
/* Sidebar header and footer color */
/* Sidebar title text colour */
/* Sidebar menu item hover color */
/**
 * Sidebar
 */
#sidebar-wrapper {
  background: #151515;
}
ul.sidebar .sidebar-main a,
.sidebar-footer,
ul.sidebar .sidebar-list a:hover,
#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator {
  /* Sidebar header and footer color */
  background: #151515;
}
ul.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}
ul.sidebar li a {
  color: #fff;
  display: block;
  float: left;
  text-decoration: none;
  width: 250px;
}
ul.sidebar .sidebar-main {
  height: 65px;
}
ul.sidebar .sidebar-main a {
  font-size: 18px;
  line-height: 60px;
}
ul.sidebar .sidebar-main a:hover {
  cursor: pointer;
}
ul.sidebar .sidebar-main .menu-icon {
  float: right;
  font-size: 18px;
  padding-right: 28px;
  line-height: 60px;
}
ul.sidebar .sidebar-title {
  color: #efb300;
  font-size: 14px;
  height: 35px;
  line-height: 40px;
  text-transform: uppercase;
  -webkit-transition: all .6s ease 0s;
  -moz-transition: all .6s ease 0s;
  -ms-transition: all .6s ease 0s;
  -o-transition: all .6s ease 0s;
  transition: all .6s ease 0s;
}
ul.sidebar .sidebar-list {
  height: 40px;
}
ul.sidebar .sidebar-logo {
  background-color: #ffffff;
}
ul.sidebar .sidebar-list a {
  text-indent: 25px;
  font-size: 15px;
  color: #b2bfdc;
  line-height: 40px;
}
ul.sidebar .sidebar-list a:hover {
  color: #fff;
  border-left: 3px solid #e99d1a;
  text-indent: 22px;
}
ul.sidebar .sidebar-list a:hover .menu-icon {
  text-indent: 25px;
}
ul.sidebar .sidebar-list .active {
  color: #fff;
}
ul.sidebar .sidebar-list .menu-icon {
  float: right;
  padding-right: 29px;
  line-height: 40px;
  width: 70px;
}
#page-wrapper:not(.open) ul.sidebar {
  bottom: 0;
}
#page-wrapper:not(.open) ul.sidebar .sidebar-title {
  display: none;
  height: 0px;
  text-indent: -100px;
}
#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator {
  display: block;
  height: 2px;
  margin: 13px 0;
}
#page-wrapper:not(.open) ul.sidebar .sidebar-list a:hover span {
  border-left: 3px solid #e99d1a;
  text-indent: 22px;
}
#page-wrapper:not(.open) .sidebar-footer {
  display: none;
}
.sidebar-footer {
  position: absolute;
  height: 40px;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: all .6s ease 0s;
  text-align: center;
}
.sidebar-footer div a {
  color: #b2bfdc;
  font-size: 12px;
  line-height: 43px;
}
.sidebar-footer div a:hover {
  color: #fff;
  text-decoration: none;
}
.sidebar-toggle {
  position: absolute;
  /*top: 20px;*/
  right: 5px;
  /*font-size: 18px;
    padding-right: 28px;*/
  /*line-height: 60px;*/
  cursor: pointer;
  color: #b2bfdc;
}
.sidebar-toggle:hover {
  color: #fff;
}
.iconfix {
  width: 50px;
}
/*Floating Input Label CSS*/
.pad-top {
  padding-top: 4em;
}
.show-hide.ng-hide-add,
.show-hide.ng-hide-remove {
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  display: block !important;
  position: absolute;
}
.show-hide.ng-hide-add.ng-hide-add-active,
.show-hide.ng-hide-remove {
  top: -8px;
  display: block !important;
  position: absolute;
  opacity: 0;
}
.show-hide.ng-hide-add,
.show-hide.ng-hide-remove.ng-hide-remove-active {
  top: -14px;
  opacity: 1;
  display: block !important;
  position: absolute;
}
.field {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
.field > label {
  position: absolute;
  top: -20px;
  color: #2361ae;
  font-size: 18px;
}
.inputfield {
  color: #2361ae;
  font-size: 18px;
}
.input-dark-bg {
  background-color: #151515;
}
.field > input {
  border: 0;
  padding: 0.5em 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom: 2px solid #555555;
  margin-top: 15px;
}
.short-input {
  display: block;
}
/*Chart Styles*/
.chart {
  width: 500px;
  height: 500px;
}
.chart-small {
  width: 250px;
  height: 250px;
}
/*Alert styles*/
.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.callout-warning {
  border-left-color: #f0ad4e;
}
.callout-danger {
  border-left-color: #d9534f;
}
.callout-info {
  border-left-color: #5bc0de;
}
.callout-warning h4 {
  color: #f0ad4e;
}
.callout-danger h4 {
  color: #d9534f;
}
.callout-info h4 {
  color: #5bc0de;
}
.text-warning {
  color: #f0ad4e;
}
.text-danger {
  color: #d9534f;
}
.text-info {
  color: #5bc0de;
}
/*Button Block styles*/
.blockButton {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid;
  border-top-width: 5px;
  border-radius: 3px;
  min-height: 175px;
}
.blockButton h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.blockButton-warning {
  border-color: #f0ad4e;
}
.blockButton-danger {
  border-color: #d9534f;
}
.blockButton-info {
  border-color: #5bc0de;
}
.blockButton-warning h4 {
  color: #f0ad4e;
}
.blockButton-danger h4 {
  color: #d9534f;
}
.blockButton-info h4 {
  color: #5bc0de;
}
.blockButton:hover {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
/*Process sections*/
.process-row {
  display: table-row;
}
.process {
  display: table;
  width: 100%;
  position: relative;
}
.process-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.process-row:before {
  top: 50px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}
.process-step {
  display: table-cell;
  text-align: center;
  position: relative;
}
.process-step p {
  margin-top: 10px;
}
.btn-circle {
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
/*Angular Charts*/
.angular-charts-template .axis path,
.angular-charts-template .axis line {
  fill: none;
  stroke: #333;
}
.angular-charts-template .ac-title {
  font-weight: bold;
  font-size: 1.2em;
}
.angular-charts-template .ac-chart {
  float: left;
  width: 75%;
}
.angular-charts-template .ac-line {
  fill: none;
  stroke-width: 2px;
}
.angular-charts-template table {
  float: left;
  max-width: 25%;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.angular-charts-template td[ng-bind] {
  display: inline-block;
}
.angular-charts-template .ac-legend-box {
  border-radius: 5px;
  height: 15px;
  width: 15px;
}
.ac-tooltip {
  display: block;
  position: absolute;
  border: 2px solid rgba(51, 51, 51, 0.9);
  background-color: rgba(22, 22, 22, 0.7);
  border-radius: 5px;
  padding: 5px;
  color: white;
}
.ac-legend {
  font-size: 10px;
}
/*Animations*/
.fadein,
.fadeout {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}
.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  margin-left: 500px;
  display: block !important;
}
.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  margin-left: 0px;
  display: block !important;
}
[ui-view].ng-enter,
[ui-view].ng-leave {
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
[ui-view].ng-enter {
  opacity: 0;
}
[ui-view].ng-enter-active {
  opacity: 1;
}
[ui-view].ng-leave {
  opacity: 1;
}
[ui-view].ng-leave-active {
  opacity: 0;
}
/*# sourceMappingURL=ocvapp.css.map */