<form class="form-horizontal" name="surveyForm">
    <div class="row">
        <div class="col-md-12">
            <div class="blockButton">
                <div ng-repeat="answer in vm.activeQuestion.Answers">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="answer.UserResponse"> {{answer.Title}}
                        </label>
                    </div>                   
                </div>
                <button class="btn btn-lg btn-primary pull-right" data-ng-click="vm.submitAnswer(0, 0, 'SurveyComplete')">
                    {{answer.LinkText}} <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</form>