<form class="form-horizontal" name="surveyForm">
    <div class="row">
        <div class="col-md-4" ng-repeat="answer in vm.activeQuestion.Answers">
            <div class="blockButton mouse-pointer" ng-class="answer.Style" data-ng-click="vm.submitAnswer(answer.Id, answer.NextId, answer.Action)">
                <h4><i class="fa fa-female"></i><i class="fa fa-male"></i> {{answer.Title}}</h4>
                <p>{{answer.Description}}</p>
            </div>
        </div>      
    </div>
</form>