<form class="form-horizontal" name="surveyForm">
    <div class="row">
        <div class="col-md-12">
            <div class="blockButton">
                <h3>{{vm.activeQuestion.Title}}</h3>
                <div ng-repeat="answer in vm.activeQuestion.Answers">
                    <div class="form-group" ng-class="{'has-error': surveyForm.answer{{answer.id}}.$invalid}">
                        <label class="control-label col-sm-3">{{answer.Title}}</label>
                        <div class="col-sm-5">
                            <input type="text" required ng-model="answer.UserInput" name="answer{{answer.id}}" class="form-control">
                            <p class="help-block" ng-show="surveyForm.answer{{answer.id}}.$invalid">
                                {{answer.Description}}
                            </p>
                            <button class="btn btn-sm pull-right" data-ng-click="vm.submitAnswer(answer.Id, answer.NextId, answer.Action)">
                                {{answer.LinkText}} <i class="fa fa-arrow-right"></i>
                            </button>
                        </div>
                        <div class="col-sm-4">
                            <i class="fa fa-question-circle text-info mouse-pointer fa-lg" popover-placement="right" popover="Please enter your Spouses date of birth."></i>
                        </div>
                    </div>
                </div>
                <button class="btn btn-sm pull-right" data-ng-click="vm.submitAnswer(0, 0, 'SurveyComplete')">
                    Finished <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</form>