<!-- Login -->
<div class="modal-header">
    <h3 class="modal-title">Login Required</h3>
</div>
<div class="modal-body">
    <!-- Login -->
    <div class="lc-block" id="l-login" data-ng-class="{ 'toggled': vm.showBlock === 1 }" data-ng-if="vm.showBlock === 1">

        <form ng-submit="vm.login(vm.credentials)" name="loginForm">
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Username" required name="loginForm.username" ng-model="vm.credentials.username">
                </div>
            </div>
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                <div class="fg-line">
                    <input type="password" class="form-control" placeholder="Password" required name="loginForm.password" ng-model="vm.credentials.password">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <button class="btn btn-link" type="button" ng-click="vm.showBlock = 2">Register</button> <button class="btn btn-primary" ng-disabled="loginForm.$invalid" type="submit">Login</button>
            </div>
        </form>
    </div>

    <!-- Register -->
    <div class="lc-block" id="l-register" data-ng-class="{ 'toggled': vm.showBlock === 2 }" data-ng-if="vm.showBlock === 2">

        <form ng-submit="vm.register(vm.newAccount)" name="registerForm">
            <div class="input-group m-b-20" ng-class="{'has-error has-feedback': !vm.UsernameAvailable, 'has-success has-feedback': registerForm.username.$valid}">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" required placeholder="Username" name="username" ng-model="vm.newAccount.Username" ng-blur="vm.checkUsername(vm.newAccount.Username)">
                </div>
                <span ng-show="vm.UsernameAvailable && registerForm.username.$valid" class="zmdi zmdi-check form-control-feedback"></span>
                <span ng-show="!vm.UsernameAvailable" class="zmdi zmdi-close form-control-feedback"></span>
            </div>
            <div ng-show="!vm.UsernameAvailable" class="text-danger error-spacer">Sorry that Username is already taken.</div>
            <div class="input-group m-b-20" ng-class="{'has-error has-feedback': registerForm.email.$error.email || !vm.EmailAvailable, 'has-success has-feedback': registerForm.email.$valid}">
                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                <div class="fg-line">
                    <input type="email" class="form-control" required placeholder="Email" name="email" ng-model="vm.newAccount.Email">
                </div>
                <span ng-show="registerForm.email.$valid" class="zmdi zmdi-check form-control-feedback"></span>
                <span ng-show="registerForm.email.$error.email || !vm.EmailAvailable" class="zmdi zmdi-close form-control-feedback"></span>
            </div>
            <div ng-show="!vm.EmailAvailable" class="text-danger error-spacer">Sorry that Email address is already taken.</div>
            <div ng-show="registerForm.email.$error.email" class="text-danger error-spacer">Sorry that Email address appears to be invalid.</div>
            <div class="input-group m-b-20" ng-class="{'has-error has-feedback': registerForm.firstname.$invalid && !registerForm.firstname.$pristine, 'has-success has-feedback': registerForm.firstname.$valid}">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" required placeholder="First name" name="firstname" ng-model="vm.newAccount.Firstname">
                </div>
                <span ng-show="registerForm.firstname.$valid" class="zmdi zmdi-check form-control-feedback"></span>
                <span ng-show="registerForm.firstname.$invalid && !registerForm.firstname.$pristine" class="zmdi zmdi-close form-control-feedback"></span>
            </div>
            <div class="input-group m-b-20" ng-class="{'has-error has-feedback': registerForm.lastname.$invalid && !registerForm.lastname.$pristine, 'has-success has-feedback': registerForm.lastname.$valid}">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" required placeholder="Last name" name="lastname" ng-model="vm.newAccount.Lastname">
                </div>
                <span ng-show="registerForm.lastname.$valid" class="zmdi zmdi-check form-control-feedback"></span>
                <span ng-show="registerForm.lastname.$invalid && !registerForm.lastname.$pristine" class="zmdi zmdi-close form-control-feedback"></span>
            </div>
            <div class="input-group m-b-20" ng-class="{'has-error has-feedback': !vm.PasswordValidated}">
                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                <div class="fg-line">
                    <input type="password" class="form-control" required placeholder="Password" name="password" ng-model="vm.newAccount.password">
                </div>
                <span ng-show="!vm.PasswordValidated" class="zmdi zmdi-close form-control-feedback"></span>
                <!--<span ng-show="vm.passStrength < 30">Weak</span>
                <span ng-show="vm.passStrength < 50">Medium</span>-->
            </div>
            <div ng-show="!vm.PasswordValidated" class="text-danger error-spacer">Sorry that Password does not meet the minimum requirements. (NYI)</div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <button class="btn btn-link" type="button" ng-click="vm.showBlock = 1">Login</button> <button class="btn btn-primary" ng-disabled="registerForm.$invalid && !vm.UsernameAvailable" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>