<div>
    <form class="form-horizontal" name="userRegistrationForm">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Core Registration</h4>
            </div>
            <div class="panel-body">
                <!-- EE Profile -->
                <fieldset>
                    <legend>Create your account</legend>
                    <!-- EE's Last Name -->
                    <div class="form-group" ng-class="{'has-error': userRegistrationForm.lastname.$invalid && !userRegistrationForm.lastname.$pristine}">
                        <label class="control-label col-sm-3">Last Name</label>
                        <div class="col-sm-5">
                            <input type="text" required ng-maxlength="150" ng-model="vm.registration.LastName" name="lastname" class="form-control">
                            <p class="help-block" ng-show="userRegistrationForm.lastname.$invalid && !userRegistrationForm.lastname.$pristine">
                                Your Last Name is required and has a max length of 150.
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <i class="fa fa-question-circle text-info mouse-pointer fa-lg" popover-placement="right" popover="Please enter your last name."></i>
                        </div>
                    </div>
                    <!-- EE's Last Four SSN -->
                    <div class="form-group" ng-class="{'has-error': userRegistrationForm.ssn.$invalid && !userRegistrationForm.ssn.$pristine}">
                        <label class="control-label col-sm-3">Last four SSN</label>
                        <div class="col-sm-5">
                            <input type="text" required ng-maxlength="9" ng-model="vm.registration.SSN" name="ssn" class="form-control">
                            <p class="help-block" ng-show="userRegistrationForm.ssn.$invalid && !userRegistrationForm.ssn.$pristine">
                                The last four digits of your SSN is required.
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <i class="fa fa-question-circle text-info mouse-pointer fa-lg" popover-placement="right" popover="Please enter the last four digits of your SSN."></i>
                        </div>
                    </div>
                    <!-- EE's DOB -->
                    <div class="form-group" ng-class="{'has-error': userRegistrationForm.dob.$invalid && !userRegistrationForm.dob.$pristine}">
                        <label class="control-label col-sm-3">Date of Birth</label>
                        <div class="col-sm-5">
                            <div class="input-group">
                                <input type="text" required ng-model="vm.userRegistrationForm.DateOfBirth" is-open="vm.opened" datepicker-popup="MM-dd-yyyy" name="dob" class="form-control" show-weeks="'false'">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.open($event)"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                            <p class="help-block" ng-show="userRegistrationForm.dob.$invalid && !userRegistrationForm.dob.$pristine">
                                Your Date of Birth is required
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <i class="fa fa-question-circle text-info mouse-pointer fa-lg" popover-placement="right" popover="Please enter your date of birth."></i>
                        </div>
                    </div>
                    <!-- EE's Email -->
                    <div class="form-group">
                        <label class="control-label col-sm-3">Email (optional)</label>
                        <div class="col-sm-5">
                            <input type="email" ng-model="vm.registration.Email" name="email" class="form-control">
                            <p class="help-block" ng-show="userRegistrationForm.email.$invalid && !userRegistrationForm.email.$pristine">
                                Invalid Email
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <i class="fa fa-question-circle text-info mouse-pointer fa-lg" popover-placement="right" popover="If you have a company email address."></i>
                        </div>
                    </div>
                    <!-- EE's Username -->
                    <div class="form-group" ng-class="{'has-error': userRegistrationForm.username.$invalid && !userRegistrationForm.username.$pristine || vm.usernameExists}">
                        <label class="control-label col-sm-3">User Name</label><div ng-show="vm.searchingUsername"><i class="fa fa-spinner fa-pulse"></i></div>
                        <div class="col-sm-5">
                            <input type="text" required ng-maxlength="50" ng-model="vm.registration.Username" ng-blur="vm.checkUsername(vm.registration.Username)" name="username" class="form-control">
                            <p class="help-block" ng-show="userRegistrationForm.username.$invalid && !userRegistrationForm.username.$pristine">
                                Please enter your desired user name.
                            </p>
                            <p class="help-block" ng-show="vm.usernameExists">
                                The desired username is taken.
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <i class="fa fa-question-circle text-info mouse-pointer fa-lg" popover-placement="right" popover="Please enter your desired user name."></i>
                        </div>
                    </div>
                    <!-- EE's Password -->
                    <div class="form-group" ng-class="{'has-error': userRegistrationForm.password.$invalid && !userRegistrationForm.password.$pristine}">
                        <label class="control-label col-sm-3">Password</label>
                        <div class="col-sm-5">
                            <input type="text" required ng-maxlength="50" ng-model="vm.registration.Password" name="password" class="form-control">
                            <p class="help-block" ng-show="userRegistrationForm.password.$invalid && !userRegistrationForm.password.$pristine">
                                Password must be atleast 7 characters long.
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <i class="fa fa-question-circle text-info mouse-pointer fa-lg" popover-placement="right" popover="Password must be atleast 7 characters long."></i>
                        </div>
                    </div>
                    <!-- EE's Confirm Password -->
                    <div class="form-group" ng-class="{'has-error': userRegistrationForm.password2.$invalid && !userRegistrationForm.password2.$pristine}">
                        <label class="control-label col-sm-3">Password</label>
                        <div class="col-sm-5">
                            <input type="text" required ng-maxlength="50" ng-model="vm.registration.Password2" data-match="userRegistrationForm.password" name="password2" class="form-control">
                            <p class="help-block" ng-show="userRegistrationForm.password2.$invalid && !userRegistrationForm.password2.$pristine">
                                Passwords must match.
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <i class="fa fa-question-circle text-info mouse-pointer fa-lg" popover-placement="right" popover="Password must be atleast 7 characters long."></i>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-primary pull-right" data-ng-click="vm.register()" type="submit">
                        Register
                    </button>
                    <a href="#/login" class="pull-right">Already registered?</a>
                    <div data-ng-hide="vm.message == ''" data-ng-class="(vm.success) ? 'alert alert-success' : 'alert alert-danger'">
                        {{vm.message}}
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
</div>