<div class="block-header">
    <h2>{{vm.title}}</h2>

    <ul class="actions">
        <li class="dropdown" uib-dropdown>
            <a href="" uib-dropdown-toggle>
                <i class="zmdi zmdi-more-vert"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href="">Refresh</a>
                </li>
                <li>
                    <a href="">Manage Widgets</a>
                </li>
                <li>
                    <a href="">Widgets Settings</a>
                </li>
            </ul>
        </li>
    </ul>

</div>
<div class="card">
    <div class="card-header">
        <h2>Your Profile</h2>

        <ul class="actions">
            <li class="dropdown action-show" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <div class="dropdown-menu pull-right">
                    <p class="p-20">
                        You can put anything here
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <div class="card-body card-padding" ng-cloak>
        <form class="form-horizontal" name="userProfileForm">
            <!-- Username -->
            <div class="form-group" ng-class="{'has-error': userProfileForm.username.$invalid}">
                <label class="control-label col-sm-3">Username</label>
                <div class="col-sm-5">
                    <input type="text" ng-disabled="true" ng-maxlength="150" ng-model="vm.currentUser.Username" name="username" class="form-control">
                    <p class="help-block" ng-show="userProfileForm.username.$invalid">
                        Username is required.
                    </p>
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-question-circle text-info mouse-pointer fa-lg" popover-placement="right" popover-trigger="mouseenter" uib-popover="Please enter your desired user name."></i>
                </div>
            </div>

            <!-- First Name -->
            <div class="form-group" ng-class="{'has-error': userProfileForm.firstname.$invalid}">
                <label class="control-label col-sm-3">First Name</label>
                <div class="col-sm-5">
                    <input type="text" required ng-maxlength="150" ng-model="vm.currentUser.Firstname" name="firstname" class="form-control">
                    <p class="help-block" ng-show="userProfileForm.firstname.$invalid">
                        Your First Name is required and has a max length of 150.
                    </p>
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-question-circle text-info mouse-pointer fa-lg" popover-placement="right" popover-trigger="mouseenter" uib-popover="Please enter your given name."></i>
                </div>
            </div>

            <!-- Last Name -->
            <div class="form-group" ng-class="{'has-error': userProfileForm.lastname.$invalid}">
                <label class="control-label col-sm-3">Last Name</label>
                <div class="col-sm-5">
                    <input type="text" required ng-maxlength="150" ng-model="vm.currentUser.Lastname" name="lastname" class="form-control">
                    <p class="help-block" ng-show="userProfileForm.lastname.$invalid">
                        Employee's Last Name is required and has a max length of 150.
                    </p>
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-question-circle text-info mouse-pointer fa-lg" popover-placement="right" popover-trigger="mouseenter" uib-popover="Please enter your family name."></i>
                </div>
            </div>

            <!-- Email -->
            <div class="form-group" ng-class="{'has-error': userProfileForm.email.$invalid}">
                <label class="control-label col-sm-3">Email</label>
                <div class="col-sm-5">
                    <input type="text" required ng-maxlength="250" ng-model="vm.currentUser.Email" name="email" class="form-control">
                    <p class="help-block" ng-show="userProfileForm.email.$invalid">
                        Employee's Company Email is required and must be less than 250 characters.
                    </p>
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-question-circle text-info mouse-pointer fa-lg" popover-placement="right" popover-trigger="mouseenter" uib-popover="Please enter your company email."></i>
                </div>
            </div>

            <!-- Account Status -->
            <div class="form-group" ng-class="{'has-error': userProfileForm.enabled.$invalid}">
                <label class="control-label col-sm-3">Enabled</label>
                <div class="col-sm-5">
                    <input type="checkbox" ng-disabled="true" ng-model="vm.currentUser.Enabled" name="enabled" class="checkbox">
                    <p class="help-block" ng-show="userProfileForm.enabled.$invalid">
                        Required
                    </p>
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-question-circle text-info mouse-pointer fa-lg" popover-placement="right" popover-trigger="mouseenter" uib-popover="Account status."></i>
                </div>
            </div>

            <!-- Account Roles -->
            <div class="form-group" ng-class="{'has-error': userProfileForm.enabled.$invalid}">
                <label class="control-label col-sm-3">Roles</label>
                <div class="col-sm-5">
                    <ul>
                        <li ng-repeat="role in vm.currentUser.Roles">
                            {{role}}
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-question-circle text-info mouse-pointer fa-lg" popover-placement="right" popover-trigger="mouseenter" uib-popover="your roles."></i>
                </div>
            </div>
            <div class="pull-right">
                <button id="btnUpdate" class="btn btn-primary" data-ng-click="vm.update(vm.profile)" type="submit" ng-disabled="vm.working || userProfileForm.$invalid">
                    <span ng-show="vm.working">Updating <i class="fa fa-spinner fa-pulse"></i></span>
                    <span ng-show="!vm.working">Update <i class="fa fa-arrow-right"></i></span>
                </button>
            </div>
            <div id="statusAlert" data-ng-hide="vm.message == ''" data-ng-class="(vm.message) ? 'alert alert-success' : 'alert alert-danger'">
                {{vm.message}}
            </div>
        </form>
    </div>
</div>