<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 id="pageHeader"><span class="fa fa-user"></span> My Profile</h1>
            <h4>Edit profile information</h4>
            <h5>Select your preferred contact method.</h5>
        </div>
        <div class="col-md-6">
            <div class="callout callout-info">
                <h4>Please verify your profile information.</h4>
                <p>You may edit your account as many times as you want but you need to have at least 1 contact method.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <user-profile></user-profile>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>


