<div class="row pad-top">
    <div class="col-md-12 text-center">
        <img src="../Images/Logos/angularjs-framework-logo-black.png" alt="" />
    </div>
</div>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="page-header text-center">
            <h2>Core ngUI Framework</h2>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>
<div class="row" data-ng-hide="userData.authorized">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <auth-signup></auth-signup>
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="row" data-ng-show="userData.authorized">
    <div class="col-md-12">
        You're logged in and should not be able to see this.  WTF
    </div>
</div>

