<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="../Images/Logos/angularjs-framework-logo-black.png" alt="" />
        </div>
        <div class="col-md-6">
            <h4><span class="fa fa-comments-o"></span> Surcharge Declaration Progress {{vm.questionId}}</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: {{vm.progress}}%">
                    <span class="sr-only">{{vm.progress}}% Complete (success)</span>
                </div>
            </div>
        </div>
    </div>



    <div class="row" ng-show="vm.surveyState === 'Initial'">

        <!-- Initial Survey Information Block-->
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <h2>{{::vm.survey.Title}}</h2>
                    <p>{{::vm.survey.Instructions}}</p>
                    <div class="panel panel-default">
                        <div class="panel-heading">Profile <a class="pull-right" ui-sref="profile">Change</a></div>
                        <div class="panel-body">
                            <h4><a ui-sref="profile">Employee</a></h4>
                            <strong>Name:</strong> {{::vm.user.FirstName}} {{::vm.user.LastName}}<br />
                            <strong>SSN</strong> xxx-xx-{{::vm.user.LastSSN}}<br />
                            <strong>DOB:</strong> {{::vm.user.DateOfBirth | date:'MMM-dd-yyyy'}}<br />
                            <strong>Email:</strong> {{::vm.user.PreferredEmail}}<br />
                            <h4><a ui-sref="profile">Spouse</a></h4>
                            <strong>Name:</strong> {{::vm.user.spouse.FirstName}} {{::vm.user.spouse.LastName}}<br />
                            <strong>DOB:</strong> {{::vm.user.spouse.DateOfBirth | date:'MMM-dd-yyyy'}}<br />

                            <h4><a ui-sref="profile">Address</a></h4>
                            {{::vm.user.Street}} {{::vm.user.Unit}}<br />
                            {{::vm.user.City}} {{::vm.user.Region}} {{::vm.user.Postal}}<br />
                            {{::vm.user.Country}}<br />
                            Work: {{::vm.user.WorkPhone}}<br />
                            Home: {{::vm.user.HomePhone}}<br />
                            Cell: {{::vm.user.CellPhone}}<br />


                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg pull-right" ng-click="vm.startSurvey()">Get Started</button>
                </div>
            </div>
        </div>

    </div>

    <div class="row" ng-show="vm.surveyState === 'Question'">
        <!-- Prototype Survey Render Block -->
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left"><nav-btn-back></nav-btn-back></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>{{vm.activeQuestion.Title | parseTokens:vm.user}} <i class="fa fa-info-circle" popover-placement="right" popover="{{vm.activeQuestion.HelpText}}"></i></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div ng-if="vm.activeQuestion.Type === 'MultipleChoiceSimple' && vm.surveyState === 'Question'" ng-include="'App/Survey/Templates/MultipleChoiceSimple.html'"></div>
                    <div ng-if="vm.activeQuestion.Type === 'MultipleChoiceDetailed' && vm.surveyState === 'Question'" ng-include="'App/Survey/Templates/MultipleChoiceDetailed.html'"></div>
                    <div ng-if="vm.activeQuestion.Type === 'BooleanChoice' && vm.surveyState === 'Question'" ng-include="'App/Survey/Templates/BooleanChoice.html'"></div>
                    <div ng-if="vm.activeQuestion.Type === 'ConfirmMultiple' && vm.surveyState === 'Question'" ng-include="'App/Survey/Templates/ConfirmMultiple.html'"></div>
                    <div ng-if="vm.activeQuestion.Type === 'TextInput' && vm.surveyState === 'Question'" ng-include="'App/Survey/Templates/TextInput.html'"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-top" ng-show="vm.surveyState === 'Complete'">

        <!-- Initial Survey Information Block-->
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>Survey Complete</h3>
                </div>
            </div>
        </div>

    </div>

</div>